<div class="container">
  <h1>User Skills and Levels</h1>
  
  <table>
    <tr>
    <th> name</th>
    <th>skill</th>
    <th>years</th>
    <th>formal?</th>
  </tr>
    <% @users.each do |user| %>
    <tr>
      <td> <h3><%=user.name %></h3><td>
      </tr>
        <% user.proficiencies.each do |p| %>
        <tr>
        <td></td>
        <td><%= p.skill.name%></td>
        <td><%= p.years%></td>
        <td><%= p.formal%></td>
      </tr>
      <% end %>

      <% end %>
    </table>
